/*	
 *	Developed by: Active IT zone
 *	Date	: 14 July, 2015
 *	Active Supershop eCommerce CMS
 *	http://codecanyon.net/user/activeitezone
 */

/* Add here all your css styles (customizations) */
.add_to_cart{
  cursor: pointer;
}
@media (max-width: 767px) {
  /** Pull left xs **/
  .pull-left-xs {
    float: left;
  }

  /** Pull right xs **/
  .pull-right-xs {
    float: right;
  }
}

@media (min-width: 768px) {
  /** Pull left sm **/
  .pull-left-sm {
    float: left;
  }

  /** Pull right sm **/
  .pull-right-sm {
    float: right;
  }
}

@media (min-width: 992px) {
  /** Pull left **/
  .pull-left-md {
    float: left;
  }

  /** Pull right **/
  .pull-right-md {
    float: right;
  }
}

@media (min-width: 1200px) {
  /** Pull left **/
  .pull-left-lg {
    float: left;
  }

  /** Pull right **/
  .pull-right-lg {
    float: right;
  }
}


/*Invoice Page
------------------------------------*/
/*Invoice Header*/
.invoice-header {
  color: #555;
  overflow: hidden;
  margin-bottom: 40px;
}

.invoice-header h2 {
  font-size: 30px;
}

.invoice-header .invoice-numb {
  font-size: 16px;
  text-align: right;
}

.invoice-header .invoice-numb span {
  color: 777;
  display: block;
  font-size: 13px;
}

/*Invoice Info*/
.invoice-info {
  margin-bottom: 10px;
}

.invoice-info h2 {
  color: #555;
  font-size: 18px;
}

/*Invoice Footer*/
.invoice-total-info {
  margin-bottom: 30px;
}

.invoice-total-info li {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: 'Open Sans'; 
}