/*** Supplier search ***/
.supplier-holder{
	position:relative;
	overflow:hidden;
	max-width:1280px;
	margin:0 auto;
	padding:30px 0;
}
.sidebar-supplier{
	float:left;
	width:220px;
}
.footer-top .col + .col{
    padding: 0;
}
.bx-wrapper img{width: 100%;}
.supplier-post-title{
	position:relative;
}
.supplier-post-title h2{
	margin:0;
	background:#6e6e6e;
	color:#fff;
	font:14px/28px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
	padding:7px 20px;
	text-transform:uppercase;
}
.supplier-post-content{
	position:relative;
	overflow:hidden;
	padding:15px;
	border:1px solid #ededed;
	border-top:none;
}
.supplier-post-content h3{
	margin:0 0 7px;
	font:18px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
	color:#333;
}
.supplier-post-list{
	padding:0 0 0 5px;
	margin:0 0 15px;
	font:14px/24px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
	list-style:none;
	overflow:hidden;
}
.supplier-post-list li{
	position:relative;
}
.supplier-post-list li a{
	color:#333;
}
.country-form label{
	display:block;
}
.country-form input[type='checkbox']{
	position: fixed;
	z-index: -111;
	opacity: 0;
	left: 0;
	top: 0;
}
.country-form .fake-input{
	display: inline-block;
	vertical-align: middle;
	height: 14px;
	width: 14px;
	border: 1px solid #ccc;
	position: relative;
	border-radius:2px;
}
.country-form .fake-input:before,
.country-form .fake-input:after{
	content:'';
	position: absolute;
	height:100%;
	width: 2px;
	background: #ccc;
	transform: rotate(45deg);
	top: 0;
	left: 7px;
	opacity: 0;
}
.country-form input[type='checkbox']~ .fake-input:after{
	transform: rotate(135deg);
	height:5px;
	left:2px;
	top:5px;
}
.country-form input[type='checkbox']:checked ~ .fake-input:after,
.country-form input[type='checkbox']:checked ~ .fake-input:before{
	opacity: 1;
}
.country-form .fake-label{
	line-height:24px;
	color:#333;
	margin:0 0 0 7px;
}
.supplier-content{
	position:relative;
	float:right;
	padding:0 0 0 20px;
	width:82.5%;
}
.supplier-content h2{
	margin:0;
	font:24px/28px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
	color:#333;
}
.supplier-content h2{
	font-family: 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
}
.m-b-20{
	margin:0 0 20px;
}
.supplier-detail-frame{
	position:relative;
	overflow:hidden;
	padding:30px;
	border:1px solid #ededed;
}
.supplier-detail-post{
	position:relative;
}
.supplier-detail-post:after{
	display:block;
	clear:both;
	content:'';
}
.supplier-detail-title{
	position:relative;
}
.supplier-detail-title h3{
	font:22px/28px 'Myriad Pro Semibold', Arial, Helvetica, sans-serif;
	color:#333;
	margin:0 0 5px;
}
.supplier-detail-title h3 span{
	font:12px/15px "Myriad Pro Regular",Arial,Helvetica,sans-serif;
	color:#c6954b;
}
.checks-holder{
	position:relative;
	overflow:hidden;
	margin:0 0 15px;
}
.checks-holder label{
	font:14px/17px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
	color:#999;
	margin:0 20px 0 0;
}
.checks-holder input[type='checkbox']{
	position: fixed;
	z-index: -111;
	opacity: 0;
	left: 0;
	top: 0;
}
.checks-holder .fake-input{
	display: inline-block;
	vertical-align: middle;
	height: 10px;
	width: 10px;
	border: 1px solid #18c5ff;
	position: relative;
	border-radius:2px;
}
.checks-holder .fake-input:before,
.checks-holder .fake-input:after{
	content:'';
	position: absolute;
	height:100%;
	width: 2px;
	background: #18c5ff;
	transform: rotate(45deg);
	top: 0;
	left: 7px;
	opacity: 0;
}
.checks-holder input[type='checkbox']~ .fake-input:after{
	transform: rotate(135deg);
	height:6px;
	left:2px;
	top:3px;
}
.checks-holder input[type='checkbox']:checked ~ .fake-input:after,
.checks-holder input[type='checkbox']:checked ~ .fake-input:before{
	opacity: 1;
}
.checks-holder .green .fake-input{
	border: 1px solid #9dc245;
}
.checks-holder .green .fake-input:before,
.checks-holder .green .fake-input:after{
	background: #9dc245;
}
.supplier-content-frame{
	position:relative;
	overflow:hidden;
	border-bottom:1px dotted #cccccc;
	margin:0 0 30px;
}
.supplier-content-frame .pic-holder{
	float:left;
	width:115px;
	margin:0 20px 0 0;
}
.pic-holder img{
	display:block;
	width:100%;
	height:auto;
	margin:0 auto 10px;
}
.supplier-frame-content{
	position:relative;
	overflow:hidden;
	width:420px;
}
.supplier-frame-content ul{
	padding:0;
	margin:0 0 20px;
	list-style:none;
	overflow:hidden;
	font:14px/24px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
	color:#333;
}
.supplier-frame-content li{
	position:relative;
	margin: 0;
}
.label-sup{
	color:#999;
	font-family: 'Myriad Pro Regular' , Arial, Helvetica, sans-serif;
	display:inline-block;
	vertical-align:middle;
	width:100px;
}
.qotation-btn{
	background:#ffba4c;
	color:#fff;
	font:16px/26px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
	width: 157px;
	height: 36px;
	border-radius: 6px;
	display:block;
	text-align:center;
	padding:4px 0;
	margin:0 0 0 100px;
}
.bt-profile{
	position:relative;
	color:#18c5ff;
	font:14px/24px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
}
.three-holder{
	float:right;
	background:#f4f4f4;
	padding:20px 10px;
	font:11px/14px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
	color:#333;
	text-align:center;
	width:380px;
}
.supplier-content-frame .three-holder .pic-holder{
	position:relative;
	overflow:hidden;
	margin:0 0 7px;
	float:none;
	width:auto;
}
.three-holder p{
	margin:0;
}
.col1-area{
	display:inline-block;
	vertical-align:top;
	margin:0 10px;
	width:27%;
}
.custom-pagination{
	padding:0 0 35px;
	margin:35px 0;
	list-style:none;
	overflow:hidden;
	text-align:center;
	border-bottom:1px dotted #ededed;
}
.custom-pagination li{
	position:relative;
	display:inline-block;
	vertical-align:middle;
}
.custom-pagination li a{
	display:block;
	color:#999;
	padding:5px 0;
	border:1px solid #dae2ed;
	text-decoration:none;
	width:28px;
}
.custom-pagination li.active a{
	border:1px solid #4dcdff;
	color:#4dcdff;
}
.custom-pagination li:first-child a,
.custom-pagination li:last-child a{
	background:#f4f4f4;
	min-width:68px;
	border:1px solid #f4f4f4;
}
.related-products-holder{
	position:relative;
	margin:0 0 40px;
}
.related-post{
	position:relative;
	overflow:hidden;
	margin:0 15px;
}
.related-products-holder h2{
	font:18px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
	color:#333;
	margin: 0 0 25px;
}
.related-post .pic-holder{
	position:relative;
	overflow:hidden;
	margin:0 0 5px;
}
.pic-holder img{
	display:block;
	width:100%;
	height:auto;
}
.related-post h3{
	color:#333;
	font:16px/19px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
	margin:0 0 5px;
}
.related-post .txt-golden{
	display:block;
	color:#c6954b;
	font-size:13px;
	line-height:17px;
	margin:0 0 5px;
}
.related-products-holder .owl-carousel{
	padding:0 70px;
}
.related-products-holder .owl-pagination{
	display:none;
}
.related-products-holder .owl-buttons{
	position:absolute;
	top:30%;
	left:0;
	margin:-25px 0 0;
	width:100%
}
.related-products-holder .owl-buttons div{
	width:50px;
	height:50px;
	border:1px solid #e5e5e5;
	text-align:center;
	position:absolute;
	font-size:0;
}
.related-products-holder .owl-buttons .owl-next{
	right:0;
}
.related-products-holder .owl-buttons .owl-prev:after{
	content: "\f053 ";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: rgba(255, 255, 255, .2);
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: 10px;
	left: 17px;
	color:#d8d8d8 ;
}
.related-products-holder .owl-buttons .owl-next:after{
	content: "\f054 ";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: rgba(255, 255, 255, .2);
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: 10px;
	left: 17px;
	color:#d8d8d8 ;
}
.supplier-holder .send-holder{
	text-align:center;
}





/*** Supplier search end***/
@media only screen and (max-width:1199px){
	.header-purple .navbar-brand{
		margin-top:0;
	}
	.topbar-v3 .col-sm-6.search-col{
		width:44%;
	}
	.topbar-v3 .col-sm-3.acc-col{
		width:31%;
	}
	.navbar-collapse .right-area{
		margin:13px 0 0;
	}
	.right-area .membership{
		margin:0;
	}
	.cd-dropdown-trigger {
		font-size: 1.5rem;
	}
	.section .outer{
		padding:10px 40px;
	}
	.data-box .btn {
		bottom: 15px;
		left: 40px;
		padding:2px 15px;
		border-radius:3px;
	}
	.section h3{
		font-size:36px;
		line-height:30px;
	}
	.trade-block .right-area{
		padding:27px 30px 37px 32px;
	}
	.trade-block ol{
		font-size:22px;
	}
	.buying-block .left-area > h3{
		font-size:23px;
		margin:0 0 15px;
	}
	.buying-block .fa{
		font-size:32px;
	}
	.buying-block .title{
		font-size:20px;
		line-height:20px;
	}
	.section ul li, .section p{
		font-size:12px;
	}
	.buying-block .supplier-list{
		margin:0 0 10px;
	}
	.buying-block .btn{
		font-size:18px;
		line-height:18px;
		padding:8px 25px 7px;
	}
	.buying-block .btn .fa{
		font-size:20px;
	}
	.benifits-section .left-area{
		padding:12px 25px;
	}
	.benifits-section .left-area > h2{
		font-size:26px;
		line-height:37px;
		margin:0 0 10px;
	}
	.benifits-section .title{
		font-size:18px;
		line-height:21px;
		margin:0 0 10px;
	}
	.benifits-section .list{
		padding:0 0 12px 5px;
	}
	.benifits-section .btn{
		font-size:20px;
		line-height:22px;
	}
	.benifits-section .btn .fa{
		font-size:25px;
	}
	.search-section .search-from.wholesaler{
		margin:0 0 43px;
	}
	/*************search page ***********/
	.content.container{
		width:95%;
	}
	.txt-some{
		font-size:12px;
	}
	.btn-post-buying{
		padding:3px 5px;
		font-size:12px;
	}
	.signup-left{
		padding:20px 30px;
	}
	.terms-holder .fake-label{
		display:inline;
	}
}
@media only screen and (max-width:991px){
    .meg-menu .img-home{display: none;}
	.topbar-v3 .col-sm-3{
		width:30%;
	}
	.topbar-v3 .col-sm-6.search-col{
		width:100%;
	}
	.topbar-v3 .col-sm-3.acc-col {
		position: absolute;
		right: 0;
		top: 15px;
		width: 295px;
	}
	.header-purple .navbar{
		margin:0;
	}
	.header-purple .navbar-header{
		float:left;
	}
	.mynve.nav .fa.fa-caret-down{
		display:none;
	}
	.header-purple .navbar-nav .open .dropdown-menu{
		position:relative;
		background:#000;
		z-index:999;
		top:0;
	}
	.navbar-collapse .right-area{
		margin:0 auto 10px;
		text-align:center;
	}
	.navbar-collapse .right-area a{
		float:none;
		display:inline-block;
		vertical-align:middle;
		padding:0 20px 0 0;
	}
	.header-purple .navbar-default .navbar-toggle .icon-bar{
		color:#ccc;
	}
	.bxslider h1{
		font-size:32px;
	}
	.data-box .btn{
		font-size:14px;
		line-height:22px;
		bottom:5px;
	}
	.section ul li, .section p{
		line-height:15px;
	}
	.trade-block ol{
		font-size:18px;
		line-height:24px;
	}
	.buying-block .left-area{
		float:none;
		padding:30px 27px;
		width:100%;
	}
	.benifits-section .left-area{
		float:none;
		width:100%;
		padding:18px 25px;
	}
	.search-section .box{
		float:none;
		margin:0 0 15px;
		width:100%;
	}
	.navbar-collapse.navbar-responsive-collapse.collapse.in{
		/*background:#525050;
		position:static;
		left:auto;
		top:auto;
		margin:0;
		width:100%;
		z-index:9999;*/
	}
	.nav.navbar-nav.mynve{
		padding:0 15px;
	}
	.navbar-collapse .right-area{
		margin:0 15px 10px;
	}
	.header-purple .mega-menu .navbar-inner, .header-purple .mega-menu .container{
		width:100%;
	}
	/*********** mega menu ******/
	.cd-dropdown-wrapper{
		width:100%;
	}
	.cd-dropdown, .cd-select{
		width:100%;
	}
	.cd-dropdown, .cd-select{
		margin:0;
		position:fixed;
	}
	.cd-dropdown-content a, .cd-dropdown-content ul a{
		color:#000;
	}
	.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after{
		color:#000;
	}
	.mynve.nav.navbar-nav .cd-secondary-dropdown li:nth-child(2) a{
		color:#000;
	}
	.header-purple .navbar-default .navbar-nav > li a{
		border:none;
	}
	.cd-dropdown ul{
		padding:50px 0 0;
		position:relative;
	}
	.cd-dropdown .cd-dropdown-content{
		position:absolute;
	}
	.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after{
		background:#000;
	}
	.cd-dropdown-content, .cd-dropdown-content ul{
		height:auto;
	}
	.sign-up-form-holder{
		padding:20px;
	}
	.signup-left{
		padding:20px 15px;
	}
	.signup-left a{
		font-size:13px;
	}
	.radio-section label{
		margin:0 10px 0 0;
	}
	.phone-nos span{
		padding:6px 8px;
	}
}
@media only screen and (max-width:767px){
	.topbar-v3 .col-sm-6.search-col{
		margin:10px 0 20px;
	}
	.topbar-v3 .col-sm-3.acc-col{
		width:295px;
		left:0;
		margin:0 0 0 -143px;
		top: 0;
		right:auto;
	}
	.topbar-v3 .col-sm-3.logo-col{
		float:none;
		display:block;
		overflow:hidden;
		margin:15px auto 0;
		width:280px;
	}
	.bxslider h1{
		font-size:15px;
	}
	.data-list{
		font-size:18px;
	}
	.data-list .fa{
		display:block;
		font-size:22px;
	}
	.section .data-box{
		float:none;
		width:100%;
		margin:0 0 15px;
	}
	.section ul li, .section p{
		font-size:14px;
		line-height:18px;
	}
	.trade-block .left-area{
		float:none;
		width:100%;
		padding:48px 30px 40px 21.4%;
	}
	.trade-block .right-area .btn{
		padding:8px 13px 12px;
		font-size:21px;
	}
	.footer-top .col + .col{
		padding:0;
	}
	.footer-top .col{
		width:50%;
		margin: 0 0 10px;
	}
	.footer-top .col:last-child{
		width:100%;
		margin:0;
	}
	.section .row{
		margin:0 -20px;
	}
	
	
	.result-category{
		float:none;
	}
	.supplier-info{
		position:relative;
		float:left;
		width:100%;
		right:0;
	}
	.login-holder{
		min-height:auto;
	}
	
	
	.signup-page .reg-block-header{
		padding:0 10px;
	}
	.signup-page{
		padding:10px 0;
	}
	.signup-page .reg-block-header h2{
		font-size:24px;
		line-height:28px;
	}
	.signup-left{
		float:none;
		width:100%;
	}
	.sign-up-form-holder{
		float:none;
		width:100%;
		border:none;
		padding:0 20px;
	}
	.sky-form section{
		max-width:100%;
	}
	.sign-up-form-holder .sky-form section{
		display:block;
		margin-right:0 !important;
	}
	.signup-btn.btn-u.btn-u-cust{
		margin:8px 0 0;
	}
	div.shadow_list{
		min-height:340px;
		max-width:340px;
	}
}
@media only screen and (max-width: 1023px){
    .header-purple .topbar-v3{
        padding: 15px 10px;
    }
    .topbar-v3 .col-sm-3.acc-col{
        width: 330px;
    }
    .header-purple .container,
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .header-purple .navbar{
        padding: 0 10px;
    }
    .meg-menu{
        position: static;
        width: 100%;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        opacity: 1;
        visibility: visible;
        max-height: 0;
        padding: 0;
    }
    .header-purple .mega-menu .dropdown-menu > li:hover .meg-menu{
        max-height: 2000px;
    }
    .navbar-responsive-collapse{
        position: absolute !important;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 0 20px;
        background: #525050 none repeat scroll 0 0;
    }
    .header-purple .navbar-nav .open .dropdown-menu > li > a{
        padding: 5px 10px;
    }
    .navbar-nav > li > .dropdown-menu{
        padding: 15px 0 0;
    }
    .meg-menu .menu-post{
        width: 100%;
    }
    .header-purple .navbar-default .navbar-nav > li a{color: #525050;}
    .nav .dropdown-toggle{
        padding: 11px 0 13px !important;
    }
    .nav.mynve a.opener{
        padding: 10px 0 !important;
    }
    .navbar-collapse .right-area{
        overflow: hidden;
        float: none;
        text-align: left;
        margin: 0;
        padding: 10px 10px 25px;
    }
    .right-area .coaching{
        margin: 0;
    }
    .navbar-collapse .right-area a{
        padding: 5px 10px;
        font-size: 14px;
        line-height: 20px;
        width: 120px;
        border: 2px solid #fff;
        text-transform: uppercase;
        letter-spacing: 0;
        font-weight: 500;
        border-radius: 4px;
        text-align: center;
        margin: 0 10px 0 0;
    }
    .mynve.nav.navbar-nav li .dropdown-menu li:nth-child(2) a, .mynve.nav.navbar-nav li .dropdown-menu li:nth-child(3) a{color: #525050;}
    .header-purple .navbar-default .navbar-nav > li > a{color: #18ba9b;}
    .content-holder{
        margin: 0 0 20px;
        padding: 0;
    }
    .section .outer{
        padding: 10px;
    }
    .data-box .btn{left: 10px;}
}
@media only screen and (min-width:768px) and (max-width: 1023px){
     .container > .navbar-collapse, .container-fluid > .navbar-collapse{
         margin-left: -15px;
         margin-right: -15px;
    }
    .trade-section .data-box:nth-child(1){
        padding: 0 10px 0 0;
    }
    .trade-section .data-box:nth-child(2){
        padding: 0 0 0 10px;
    }
    .section .row{margin: 0 0 20px;}
    .trade-block .left-area{
        padding: 48px 30px 0 11%;
    }
    .btn{
        padding: 8px 25px 12px;
        font-size: 20px;
    }
    .carousel .mask{
        width: 588px;
        margin: 0 auto;
    }
    .carousel .slide{
        width: 178px !important;
    }
    .footer-top .col{
        width: 23%;
        margin: 0 2% 20px 0;
    }
}
@media only screen and (min-width: 1024px) and (max-width:1279px){
    .header-purple .topbar-v3{
        padding: 12px 10px 19px;
    }
    .header-purple .container,
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .topbar-v3 .col-sm-3.acc-col{
        width: 28%;
    }
    .header-purple .acc-col{
        padding: 15px 0 0 8px;
    }
    .navbar-collapse .right-area{
        margin: 0 20px 0 0;
    }
    .section .outer{
        padding: 10px;
    }
    .data-box .btn{left: 10px;}
    .carousel .mask{
        width: 844px;
        margin: 0 auto;
    }
    .carousel .slide{
        width: 192px !important;
    }
}
@media only screen and (max-width: 767px){
    .topbar-v3 .col-sm-3.logo-col{
        width: 100%;
        margin: 0 auto;
    }
    .header-purple .navbar-brand{
        display: block;
        margin: 0 auto;
        max-width: 243px;
        float: none;
        padding: 0;
    }
    .header-purple .navbar-brand img{
        display: block;
        width: 100%;
        height: auto;
    }
    .header-purple{
        margin: 0 0 20px;
        border: none;
    }
    .topbar-v3 .col-sm-3.acc-col{
        left: auto;
        margin: auto;
        right: auto;
        top: auto;
        position: relative;
        width: 100%;
        float: none;
        text-align: left;
        padding: 0;
    }
    .topbar-v3 .col-sm-3.acc-col:after{
        display: block;
        content: '';
        clear: both;
    }
    .header-purple .topbar-v3{padding: 20px 0;}
    .header-purple .topbar-v3 ul.language{
        right: 6px;
    }
    .navbar-toggle{margin-left: 15px;}
    .header-purple .shop-badge.badge-lists > li{
        padding: 13px 15px 15px 25px;
    }
    .shop-badge li{border-left: none;}
    .bx-pager.bx-default-pager{display: none;}
    .trade-block .right-area{
        padding: 20px 10px;
    }
    .trade-block .right-area .title{
        font-size: 24px;
        font-weight: 500;
    }
    .trade-block .right-area .btn{
        font-size: 18px;
    }
    .section.trade-protection{margin: 0;}
    .section h2{margin: 0;}
    .buying-block .left-area h3{line-height: 30px;}
    .buying-block .left-area{
        padding: 20px 10px;
    }
    .buying-block .supplier-list li{
        width: 100%;
        margin: 0 0 20px;
    }
    .buying-block .btn{
        margin: 0 auto;
    }
    .section h2{
        margin: 0 0 20px;
        font-size: 22px;
        letter-spacing: 0;
    }
    .section .outer{
        padding: 10px 30px;
    }
    .section h3{
        text-transform: capitalize;
        font-size: 24px;
        line-height: 28px;
    }
    .data-box .btn{
        left: 30px;
    }
    .trade-section .data-box:nth-child(2) .outer{left: 0;}
    .section .list{padding: 0;}
    .section .list li{margin: 0;}
    .section ul li, .section p{
        font-size: 12px;
        line-height: 14px;
    }
    .section .more{
        font-size: 16px;
        line-height: 20px;
    }
    .trade-block .left-area > h3{font-size: 24px;}
    .trade-block .left-area > p{
        font-size: 14px;
        line-height: 18px;
    }
    .carousel .mask{
        width: 220px;
        margin: 0 auto;
    }
    .carousel .btn-next, .carousel .btn-prev{
        width: 30px;
        height: 30px;
        padding: 3px;
    }
    .partner-block{
        padding: 0 40px;
    }
}