/*footer-green
------------------------------------*/
.footer-green .footer {
	padding: 40px 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0bd318+0,87fc70+100 */
background: #0bd318; /* Old browsers */
background: -moz-linear-gradient(top,  #0bd318 0%, #87fc70 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0bd318), color-stop(100%,#87fc70)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0bd318 0%,#87fc70 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0bd318 0%,#87fc70 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0bd318 0%,#87fc70 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0bd318 0%,#87fc70 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bd318', endColorstr='#87fc70',GradientType=0 ); /* IE6-9 */

}

.footer-green .footer p {
	color: #fff;
	font-weight:300;
}

.footer-green .headline h2 {
	color: #fff;
}

/*Footer Subsribe*/
.footer-green .footer-subsribe {
	width: 100%;
}

/*Link List*/
.footer-green .link-list li {
	border-top: solid 1px #eee;
}

.footer-green .link-list a {
	color: #fff;
	font-weight:300;
}

.footer-green address {
	color: #fff;
	line-height: 23px;
}

.footer-green address i {
	min-width: 20px;
	margin-right: 5px;
	text-align: center;
}

/*Copyright*/
.footer-green .copyright {
	border-top: none;
	background: #007d3d;
	padding: 10px 0 2px;
}

.footer-green .copyright p {
	color: #fff;
	margin-bottom: 0;
}
.cards{
color:#fff !important;
font-size:25px !important;	
}