/*footer-blue
------------------------------------*/
.footer-blue .footer {
	padding: 40px 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d62f0+0,1ad6fd+100 */
background: #1d62f0; /* Old browsers */
background: -moz-linear-gradient(top,  #1d62f0 0%, #1ad6fd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d62f0), color-stop(100%,#1ad6fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1d62f0 0%,#1ad6fd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1d62f0 0%,#1ad6fd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1d62f0 0%,#1ad6fd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1d62f0 0%,#1ad6fd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d62f0', endColorstr='#1ad6fd',GradientType=0 ); /* IE6-9 */
 
}

.footer-blue .footer p {
	color: #fff;
	font-weight:300;
}

.footer-blue .headline h2 {
	color: #fff;
}

/*Footer Subsribe*/
.footer-blue .footer-subsribe {
	width: 100%;
}

/*Link List*/
.footer-blue .link-list li {
	border-top: solid 1px #eee;
}

.footer-blue .link-list a {
	color: #fff;
	font-weight:300;
}

.footer-blue address {
	color: #fff;
	line-height: 23px;
}

.footer-blue address i {
	min-width: 20px;
	margin-right: 5px;
	text-align: center;
}

/*Copyright*/
.footer-blue .copyright {
	border-top: none;
	background: #0046C7;
	padding: 10px 0 2px;
}

.footer-blue .copyright p {
	color: #fff;
	margin-bottom: 0;
}
.cards{
color:#fff !important;
font-size:25px !important;	
}