/*Top Bar v3 (currency, language, account etc.)
------------------------------------*/
.header-purple .topbar-v3 {
    z-index: 99;
    padding: 15px 0;
    position: relative;
    background: #666666;
}

@media (max-width: 768px) {
    .header-purple .topbar-v3 .left-topbar,
    .header-purple .topbar-v3 .right-topbar {
        text-align: center;
    }
}

/*Left Top Bar*/
.header-purple .topbar-v3 ul.left-topbar {
    padding-left: 0;
    margin-bottom: 1px;
}

.header-purple .topbar-v3 ul.left-topbar > li {
    display: inline;
    list-style: none;
    position: relative;
    margin-right: 15px;
    padding-bottom: 15px;
}

.header-purple .topbar-v3 ul.left-topbar > li > a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.header-purple .topbar-v3 ul.left-topbar > li > a:hover {
    cursor: pointer;
}

/*Currency & Language*/
.header-purple .topbar-v3 ul.currency, .header-purple .topbar-v3 ul.language {
    border-radius: 1px;
    display: none;
    list-style: outside none none;
    margin: 4px 0 0;
    min-width: 85px;
    position: absolute;
    right: 12px;
    top: 34px;
    z-index: 1;
}
@media (max-width: 768px) {
    .header-purple .topbar-v3 ul.currency,
    .header-purple .topbar-v3 ul.language {
        top: 20px;
    }
}

.header-purple .topbar-v3 li:hover ul.currency,
.header-purple .topbar-v3 li:hover ul.language {
    display: block;
}


.header-purple .topbar-v3 ul.currency li a, .header-purple .topbar-v3 ul.language li a {
    color: white;
    font-size: 10px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}

.language {
    background: #555 none repeat scroll 0 0;
    color: hsl(0, 0%, 0%);
}

.header-purple .topbar-v3 ul.currency li.active a i,
.header-purple .topbar-v3 ul.language li.active a i {
    color: #d1d1d1;
    float: right;
    margin-top: 2px;
}


.header-purple .topbar-v3 ul.currency li a:hover,
.header-purple .topbar-v3 ul.language li a:hover {
    text-decoration: none; 
}

/*Right Top Bar*/
.header-purple .topbar-v3 .right-topbar {
    margin-bottom: 1px;
}

.header-purple .topbar-v3 .right-topbar li {
    margin-left: 3px;
}

.header-purple .topbar-v3 .right-topbar li:first-child {
    margin-left: 0;
}

.header-purple .topbar-v3 .right-topbar li, 
.header-purple .topbar-v3 .right-topbar li a {
    color: #fff;
    font-size: 12px;
    padding: 0 7px 0 0;
}

/*Search*/
.header-purple .topbar-v3 .search {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

.header-purple .topbar-v3 .search:hover {
    color: #bbb;
}

.header-purple .topbar-v3 .search-open {
    top: 0;
    left: 0; 
    width: 100%;
    display: none;
    background: #333;
}

.header-purple .topbar-v3 .search-open .container {
    position: relative;
}

.header-purple .topbar-v3 .search-open .search-close {
    top: 10px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
}

.header-purple .topbar-v3 .search-open .form-control {
    padding: 0;
    color: #eee;
    border: none;
    min-height: 35px;
    font-weight: 200;
    background: #333;
}

.header-purple .topbar-v3 .search-open .form-control:focus {
    box-shadow: none;
}

.header-purple .topbar-v3 .search-open .form-control::-moz-placeholder {
    color: #eee;
    font-weight: 200;
}
.header-purple .topbar-v3 .search-open .form-control:-ms-input-placeholder {
    color: #eee;
    font-weight: 200;
}
.header-purple .topbar-v3 .search-open .form-control::-webkit-input-placeholder {
    color: #eee;
    font-weight: 200;
}

/*Shop Badge
------------------------------------*/
/*Badge Lists*/
.header-purple .shop-badge.badge-lists {
    margin-bottom: 0;
}

.header-purple .shop-badge.badge-lists li {
    position: relative;
}

.header-purple .shop-badge.badge-lists > li {
    margin-left: 20px;
    padding: 10px 15px 15px 25px;
}

.header-purple .shop-badge.badge-lists span.badge {
    top: 11px;
    right: 4px;
    position: absolute;
}

@media (max-width: 991px) {
    .header-purple .shop-badge {
        display: none;
    }
}

/*Badge Icons*/
.header-purple .shop-badge.badge-icons span.badge {
    min-width: 12px;
    padding: 3px 6px;
}

.header-purple .shop-badge.badge-icons i {
    color: #303641;
    font-size: 24px;
    min-width: 25px;
}

/*Badge*/
.header-purple .shop-badge span.badge {
    font-weight: 400;
    padding: 4px 7px;  
}

.header-purple .shop-badge span.badge-sea {
    background: #18c5ff;
}

/*Scrollbar*/
.header-purple .contentHolder {
    padding: 0;
    height: 400px; 
    margin: 0 auto;
    overflow: hidden; 
    position: relative; 
}

.header-purple .ps-scrollbar-x-rail {
    display: none !important;
}

/*Badge Open*/
.header-purple ul.shop-badge > li {
    position: relative;
}

.header-purple ul.shop-badge > li:hover .badge-open {
    display: block;
}

.header-purple .badge-open {
    top: 57px;
    right: 0;
    display: none;
    padding: 0 20px;
    list-style: none;
    min-width: 300px;
     background: #0079b3 none repeat scroll 0 0;
     opacity: 0.9;
    position: absolute;
    border-top: 2px solid #18c5ff;
    -webkit-box-shadow: 0 2px 2px 0px rgba(90,90,90,0.075);
    -moz-box-shadow: 0 2px 2px 0px rgba(90,90,90,0.075);
    box-shadow: 0 5px 5px 0px rgba(90,90,90,0.075);
    border-bottom-left-radius:4px !important;
    border-bottom-right-radius:4px !important;

}

.header-purple .badge-open li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedede;
}

.header-purple .badge-open li:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 20px;
}

.header-purple .badge-open li:after,
.header-purple .badge-open li:before {
    content: " ";
    display: table;
}

.header-purple .badge-open li:after {
    clear: both;
}

.header-purple .badge-open img {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.header-purple .badge-open .close {
    line-height: 1.9;
}

.header-purple .badge-open span {
    margin: 7px 0;
    color: #fff;
    display: block;
    font-size: 14px;
}

.header-purple .badge-open small {
    color: #fff;
    font-size: 14px;
}

/*Subtotal*/
.header-purple li.subtotal {
    padding: 3px 0 20px;
}

.header-purple li.subtotal span {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    text-transform: uppercase;
}

.header-purple li.subtotal .subtotal-cost {
    color: #F3DAFF;
}

.header-purple li.subtotal .btn-u {
    font-size: 12px;
}

.header-purple li.subtotal .col-xs-6:first-child {
    padding-right: 8px;
}

.header-purple li.subtotal .col-xs-6:last-child {
    padding-left: 8px;
}

/*Header v1
------------------------------------*/
.header-purple {
    z-index: 99;
    position: relative;
    border-bottom: solid 2px #eee;
}

.header-purple .navbar {
    background: #6e6e6e none repeat scroll 0 0 !important;
    border-radius: 0;
    margin: 0;
}

@media (max-width: 991px) {
    .header-purple .navbar {
        margin-top: 10px;
    }
}

.header-purple .navbar-default {
    border: none;
    background: none;
}

/*Navbar Header*/
@media (max-width: 991px) {
    .header-purple .navbar-header {
        margin-bottom: 7px;
    }
}

@media (min-width: 993px) and (max-width: 999px) {
    .header-purple .navbar-header {
        margin-top: 15px;
    }
}

.header-purple .navbar-brand { 
    z-index: 1;
    padding: 3px 10px 10px 0;
}

@media (max-width: 998px) {
    .header-purple .navbar-brand { 
        margin-top: -15px;
    }   
}

.header-purple .navbar-default .navbar-toggle {
    color: #333;
    border: none;
    font-size: 19px;
    margin-top: 10px;
}

.header-purple .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

.header-purple .navbar-default .navbar-toggle:hover,
.header-purple .navbar-default .navbar-toggle:focus {
    background: inherit;
}

/*Navbar Collapse*/
.header-purple .navbar-collapse {
    position: relative;
}

/*Navbar Nav set to centre*/
@media (min-width: 992px) {
    .header-purple .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

/*Navbar Menu*/
.header-purple .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.header-purple .navbar-default .navbar-nav > .active > a {
    color: #18ba9b;
}

/*Responsive Navbar*/
@media (max-width: 991px) {
    /*Responsive code for max-width: 991px*/
    .header-purple .navbar-header {
        float: none;
    }

    .header-purple .navbar-toggle {
        display: block;
    }

    .header-purple .navbar-collapse.collapse {
        display: none !important;
    }

    .header-purple .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }

    .header-purple .navbar-nav {
        margin: 0;
        float: none !important;
    }

    .header-purple .navbar-nav > li {
        float: none;
    }

    .header-purple .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    /*Dropdown Menu Slide Down Effect*/
    .header-purple .navbar-nav .open .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        margin-top: 0;
        position: static;
        box-shadow: none;
        background-color: transparent;
    }

    .header-purple .navbar-nav .open .dropdown-menu > li > a,
    .header-purple .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .header-purple .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .header-purple .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-purple .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }

    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .header-purple .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .header-purple .navbar-default .dropdown-menu.no-bottom-space {
        padding-bottom: 0;
    }

    /*Design for max-width: 991px*/
    /*.header-purple .navbar-collapse,
    .header-purple .navbar-collapse .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }*/

    .header-purple .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 9px 10px;
    }

    .header-purple .navbar-default .navbar-nav > li a {
        border-bottom: solid 1px #eee;
    }   

    .header-purple .navbar-default .navbar-nav > li > a:focus {
        background: none;
    }

    .header-purple .navbar-default .navbar-nav > li > a:hover {
        color: #18ba9b;
    }

    .header-purple .navbar-default .navbar-nav > .active > a,
    .header-purple .navbar-default .navbar-nav > .active > a:hover,
    .header-purple .navbar-default .navbar-nav > .active > a:focus {
        background: #18ba9b;
        color: #fff !important; 
    }

    .header-purple .dropdown .dropdown-submenu > a { 
        font-size: 13px;
        color: #333 !important;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) { 
    /*Navbar Collapse*/
    .header-purple .navbar-collapse {
        padding: 0;
    }

    .header-purple .shop-badge.badge-lists > li {
        margin-left: 20px;
        padding: 10px 15px 15px 25px;
    }

    .header-purple .navbar-default .navbar-nav > li > a:last-child {
        padding-right: 15px;
    }

    .header-purple .navbar-default .navbar-nav > li > a,
    .header-purple .navbar-default .navbar-nav > li > a:focus {
        border-top: solid 2px transparent;
    }

    .header-purple .navbar-default .navbar-nav > li > a:hover,
    .header-purple .navbar-default .navbar-nav > .active > a {
        border-top: 2px solid #79d8f7;
    }

    .header-purple .navbar-default .navbar-nav > li > a,
    .header-purple .navbar-default .navbar-nav > li > a:hover,
    .header-purple .navbar-default .navbar-nav > li > a:focus, 
    .header-purple .navbar-default .navbar-nav > .active > a, 
    .header-purple .navbar-default .navbar-nav > .active > a:hover, 
    .header-purple .navbar-default .navbar-nav > .active > a:focus {
        background: none;
    }

    

/*    .header-purple .navbar-default .navbar-nav > li:hover > a {
        color: #AB00FF;
    }*/

    /*Dropdown Menu*/
    .header-purple .dropdown-menu { 
        padding: 0;
        border: none;
        min-width: 200px;
        border-radius: 0;
        z-index: 9999 !important;
        /*border-top: solid 2px #18c5ff;
        -webkit-box-shadow: 0 2px 2px 0px rgba(90,90,90,0.075);
        -moz-box-shadow: 0 2px 2px 0px rgba(90,90,90,0.075);
        box-shadow: 0 5px 5px 0px rgba(90,90,90,0.075);*/
    }

    .header-purple .dropdown-menu li a { 
        //color: #687074 !important; 
        font-size: 14px; 
        font-weight: 300; 
        padding: 5px 0;
        position: relative;
        color: #999;
        /*border-bottom: solid 1px #dedede;*/
    }
    .header-purple .dropdown-menu li a:before{
        position: absolute;
        content: '';
        top: 50%;
        right: 13px;
        width: 4px;
        height: 6px;
		transform: translateY(-50%);
		background:url(../assets/img/icon-arrow.png) no-repeat;
    }
    .meg-menu .menu-post li a:before{display: none;}
	.header-purple .dropdown-menu li a:hover{
		color:#18c5ff;
	}

    .header-purple .dropdown-menu > li > a {
        /*Transition for fixed header*/
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .header-purple .dropdown-menu > li > a:hover {
        color: #fff !important;
    }
    .header-purple .dropdown-menu .active > a,
    .header-purple .dropdown-menu li > a:hover {
        color: #fff;
        filter: none !important;
    }

    .header-purple .dropdown-menu li > a:focus {
        color: inherit;
        background: none;
        filter: none !important;
    }

    .header-purple .navbar-nav > li.dropdown:hover > .dropdown-menu {
        display: block;
    }   

    .header-purple .open > .dropdown-menu {
        display: block;
    }

    .header-purple .dropdown-menu li.dropdown-submenu:hover > a {
        color: #fff;
        background: #18ba9b;
    }
}

/*Dropdown Submenu for BS3
------------------------------------*/
.header-purple .dropdown-submenu { 
    position: relative; 
}

.header-purple .dropdown > a:after,
.header-purple .dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 991px) {
    .header-purple .dropdown-submenu > a:after {
        content: " ";
    }

    .header-purple .dropdown > a:after {
        top: 9px;
        right: 15px;
        content: "\f107";
    }
}

@media (min-width: 992px) {
    .header-purple .dropdown > a:after {
        content: " ";
    }
}

.header-purple .dropdown-submenu > .dropdown-menu { 
    top: 3px; 
    left: 100%; 
    margin-top: -5px; 
    margin-left: 0px; 
}

/*Submenu comes from LEFT side*/
.header-purple .dropdown-submenu > .dropdown-menu.submenu-left {
    left: -100%;
}

.header-purple .dropdown-submenu:hover > .dropdown-menu {  
    display: block;
}

@media (max-width: 991px) {
    .header-purple .dropdown-submenu > .dropdown-menu {  
        display: block;
        margin-left: 15px;
    }
}

.header-purple .dropdown-submenu.pull-left {
    float: none;
}

.header-purple .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.header-purple .dropdown-menu li [class^="fa-"],
.header-purple .dropdown-menu li [class*=" fa-"] {
    left: -3px;
    width: 1.25em;
    margin-right: 1px;
    position: relative;
    text-align: center;
    display: inline-block;
}
.header-purple .dropdown-menu li [class^="fa-"].fa-lg,
.header-purple .dropdown-menu li [class*=" fa-"].fa-lg {
    /* increased font size for fa-lg */
    width: 1.5625em;
}

/*Header Fixed
------------------------------------*/
/*Header*/
.header-fixed .header-purple.header-fixed-shrink {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: auto;
    margin-top: -29.5px;
    border-bottom: none;
    box-shadow: 0 0 3px #bbb;
    background: rgba(255,255,255, 0.96); 
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
}

/*Topbar*/
.header-fixed .header-purple.header-fixed-shrink .topbar {
    display: none;
}

/*No Topbar*/
.header-fixed .header-purple.no-topbar {
    height: 78px;
}

.header-fixed .header-purple.no-topbar.header-fixed-shrink {
    height: 95px;
    margin-top: -35px;
}

.header-fixed .header-purple.no-topbar.header-fixed-shrink .navbar-brand {
    top: 46px;
}

.header-fixed .header-purple.no-topbar.header-fixed-shrink .shop-badge.badge-lists {
    margin-top: 26px;
}

.header-fixed .header-purple.no-topbar.header-fixed-shrink .shop-badge.badge-lists > li {
    padding-bottom: 17px;
}

.header-fixed .header-purple.no-topbar.header-fixed-shrink .shop-badge .badge-open {
    top: 69px;
}

.header-fixed .header-purple.no-topbar.header-fixed-shrink .navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
}

/*Brand*/
.header-fixed .header-purple.header-fixed-shrink .navbar-brand { 
    top: 8px;
    z-index: 1;
    position: relative;
    padding: 0 10px 10px;
}

.header-fixed .header-purple.header-fixed-shrink .navbar-brand img {
    width: 90%;
}

.header-fixed .header-purple.header-fixed-shrink .navbar-nav > li > .dropdown-menu {
    margin-top: -8px;
}

/*Badge List*/
.header-fixed .header-purple.header-fixed-shrink .shop-badge.badge-lists {
    margin-top: -3px;
}

.header-fixed .header-purple.header-fixed-shrink .shop-badge .badge-open {
    top: 70px;
}

@media (max-width: 991px) {
    /*Header*/
    .header-fixed .header-purple,
    .header-fixed .header-purple.header-fixed-shrink,
    .header-fixed .header-purple.no-topbar,
    .header-fixed .header-purple.no-topbar.header-fixed-shrink {
        height: inherit;
        position: relative;
    }
}

@media (min-width: 992px) {
    .header-fixed .header-purple.header-fixed-shrink .navbar-nav > li > a {
        font-size: 15px;
        margin-top: 2px;
        padding: 17px 18px 26px;
    }

    /*No Topbar*/
    .header-fixed .header-purple.no-topbar.header-fixed-shrink .navbar-nav > li > a {
        margin-top: 35px;
        padding: 14px 17px 16px;
    }
}

/*Mega Menu
------------------------------------*/
.header-purple .mega-menu .nav,
.header-purple .mega-menu .dropup,
.header-purple .mega-menu .dropdown,
.header-purple .mega-menu .collapse {
    position: static;
}

.header-purple .mega-menu .navbar-inner,
.header-purple .mega-menu .container {
    position: relative;
}

.header-purple .mega-menu .dropdown-menu {
    left: auto;
    background: #555;
    padding: 10px 20px;
}

.header-purple .mega-menu .dropdown-menu > li {
    display: block;
}

.header-purple .mega-menu .dropdown-submenu .dropdown-menu {
    left: 100%;
}

.header-purple .mega-menu .nav.pull-right .dropdown-menu {
    right: 0;
}

.header-purple .mega-menu .mega-menu-content {
    *zoom: 1;
    padding: 20px 10px;
}

.header-purple .mega-menu .mega-menu-content:before,
.header-purple .mega-menu .mega-menu-content:after {
    content: "";
    display: table;
    line-height: 0;
}

.header-purple .mega-menu .mega-menu-content:after {
    clear: both;
}

.header-purple .mega-menu.navbar .nav > li > .dropdown-menu:after,
.header-purple .mega-menu.navbar .nav > li > .dropdown-menu:before {
    display: none;
}

.header-purple .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
    left: 0;
    right: 0;
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-purple .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        margin-left: 10px;
        margin-right: 15px;
    }
}

@media (max-width: 991px) {
    .header-purple .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: auto;
    }

    .header-purple .mega-menu .mega-menu-content {
        padding-right: 0;
    }

    .header-purple .mega-menu .mega-menu-content [class^="col-"] {
        padding-right: 25px;
    }

    .header-purple .mega-menu .dropdown-menu > li > ul {
        display: block;
    }
}

/*Bootstrap Container*/
@media (min-width: 768px) {
    .header-purple .mega-menu .mega-menu-content .container {
        width: 708px;
    }
}

@media (min-width: 992px) {
    .header-purple .mega-menu .mega-menu-content .container {
        width: 910px;
    }
}

@media (min-width: 1200px) {
    .header-purple .mega-menu .mega-menu-content .container {
        width: 1110px;
    }
}

/*Dropdown Menu*/
.header-purple .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu li {
    padding-bottom: 5px;
}

.header-purple .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu li a {
    padding: 0;
    border-bottom: none;
}

/*Product Offers*/
.header-purple img.product-offers:hover {
    opacity: 0.9;
}

/*Style List*/
.header-purple h3.mega-menu-heading {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #dedede;
}

.header-purple h3.mega-menu-heading.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.header-purple .style-list {
    margin-bottom: 20px;
}

.header-purple .style-list li a {
    color: #888;
    font-size: 14px;
    margin-right: 5px;
}

.header-purple .style-list li a:hover {
    color: #18ba9b;
    background: none;
    text-decoration: none;
}

.header-purple .style-list li .label {
    top: -2px;
    position: relative;
}
.nav.navbar-nav {
    float: left;
}
.dropdown.mega-menu-fullwidth a {
    font-size: 20px !important;
}
.mynve.nav .fa.fa-caret-down {
    color: #aea7b2;
}
.mynve.nav.navbar-nav li:nth-child(2) a {
    color: #ffcc00;
}
.mynve.nav.navbar-nav li:nth-child(3) a {
    color: #79d8f7;
}
.mynve.nav.navbar-nav li .dropdown-menu li:nth-child(2) a,
.mynve.nav.navbar-nav li .dropdown-menu li:nth-child(3) a{
    color: #999;
}

.mynve .dropdown .dropdown-menu li a{
    color: #999999 !important;
}

.navbar-collapse .right-area {
    float: right;
    margin: 11px 59px 0 20px;
}
.right-area .coaching {
    color: hsl(0, 0%, 100%);
    float: left;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 120px 0 0;
    text-transform: uppercase;
}

.right-area .membership {
    color: hsl(0, 0%, 100%);
    float: left;
    font-size: 16px;
    margin: 5px 0 0 2px;
}

.mynve li.dropdown {
    height: 52px !important;
}
