/*Registration and Login Page v2
------------------------------------*/
/*Border Wings*/
.log-reg-v3 .border-wings {
	text-align: center;
}

.log-reg-v3 .border-wings span {
	color: #687074;
	font-size: 14px;
  	padding: 0 10px;
	position: relative;
  	margin-bottom: 15px;
  	display: inline-block;
	text-transform: uppercase;
}

.log-reg-v3 .border-wings span:before,
.log-reg-v3 .border-wings span:after {
	top: 10px;
	height: 1px;
	width: 100%;
	content: " ";
	background: #ccc;
	position: absolute;
}

.log-reg-v3 .border-wings span:before {
  	left: 100%;
}

.log-reg-v3 .border-wings span:after {
  	right: 100%;
}
body { 
	background: #555;
}

.reg-block {
	width: 280px;
	padding: 5px;
	margin: 15px auto;
	background: #fff;
}

.reg-block h2,
.reg-block p,
.reg-block p a {
	color: #777;
}

.reg-block-header h2 {
	font-size: 28px;
}

.reg-block p a {
	text-decoration: underline;
}
.reg-block p a:hover {
	text-decoration: none;
}

/*Forms*/
.reg-block .input-group-addon {
	color: #bbb;
	background: none;
	min-width: 40px;
}

.reg-block .form-control:focus {
   box-shadow: none;
   border-color: #999;
}

.reg-block .checkbox { 
	color: #555;
	margin-bottom: 20px;
	font-weight: normal;
}

/*Reg Header*/
.reg-block-header {
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: solid 1px #eee;
}

.reg-block-header h2 {
	text-align: center;
	margin-bottom: 15px;
}

.reg-block-header p {
	text-align: center;
}

/*For Mobile Devices*/
@media (max-width: 500px) { 
	.reg-block {
		width: 300px;
		margin: 60px auto;
	}
}